body {
 margin: 0;
 padding: 0;
 background-color: cadetblue;
}

#viewer {
 border: 2px solid black;
 padding: 5px;
 height: 580px;
 width: 1024px;
 background-color: silver;
 visibility: none;
}

#helpinfo{
float: right;
}

#viewerOutput {
    margin-left: 5px;
    width: 1020px;
}

#notes {
 margin: 0px 180px;
 text-align: left;
 width: 840px;
 height: 185px;
 float:left;
 position: relative;
 overflow: auto;
}


/*MINI MAP CSS CONTROLLS*/
#minimap {
position: absolute;
border: 1px solid black;
}
.grid {
border: 1px solid black;
display: table;
border-spacing: 5px
}
.row {
display: table-row;
}
.cell {
width: 50px;
height: 50px;
background: #808080;
display: table-cell;
}
/*MINI MAP CSS CONTROLLS --  END*/

#footer {
position: fixed;
bottom: 0;
left: 0;
width: 100%;
}
