.container {
 width: 700px;
 height: 400px;
 border: 1px solid blue;
 margin-left: 5px;
}
label {
    margin-left: 50px;
    font-size: 45;
}

button {
    margin: 10px;
    padding: 45px;
    color: red;
    font-size: 45;
}

#count {
    margin: 15px;
    padding: 20;
    font-family: 'Courier New', Courier, monospace;
    font-size: 64px;
}

#displayContent {
    margin-top: 15px;
    padding: 20;
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    float: bottom;
}